<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	
	
<mapper namespace="com.jq.mapper.JQConfigMapper">



	<resultMap id="JQConfig" type="com.jq.entity.JQConfig">
		<id property="id" column="configId"/>
		
		<result property="name" column="configName" />
		<result property="title" column="configTitle" />
		<result property="parentId" column="configParentId" />
		
		<result property="valid" column="configValid" />
		
		<collection property="columns" javaType="java.util.ArrayList" ofType="com.jq.entity.JQColumn">
				
			<id property="sortKey" column="sortKey" />
			<result property="id" column="cwid"/>	
			
			
			<collection property="widgets" javaType="java.util.ArrayList"  ofType="com.jq.entity.JQWidget">
				<id property="id" column="wid"/>
				<result property="widgetId" column="widgetId" />
				<result property="configId" column="refConfigId" />
				<result property="visiable" column="visiable" />
				<result property="searchable" column="searchable" />				
				<result property="shareable" column="shareable" />
				<result property="required" column="required" />				
				<result property="dataSource" column="dataSource" />
				<result property="name" column="widgeName" />				
				<result property="value" column="widgetValue" />
				<!--collection property="properties" javaType="java.util.ArrayList"  ofType="com.jq.entity.JQProperty" >
						<id property="id" column="propertyId"/>
						<result property="name" column="propertyName"/>
						<association property="propertyType" javaType="com.jq.entity.JQPropertyType">			
							<id property="id" column="propertyTypeId" />		
							<result property="type" column="propertyTypeName" />
						</association>
						
				</collection-->
			</collection>
			
		</collection>
		
	</resultMap>

	<select id="findAllConfigs" resultMap="JQConfig">	
		select c.id as configId, c.name as configName,c.title as configTitle, c.valid as configValid, c. parentId as configParentId,
		       cw.id as cwid,cw.sortKey as sortKey,
		       w.id as wid, w.propertyId, w.widgetId as widgetId, w.configId as refConfigId, w.visiable, w.searchable,w.shareable,w.required, 
		       w.dataSource,w.name as widgeName, w.value as widgeValue,
		       p.id as propertyId, p.name as propertyName,
		       pt.id as propertyTypeId, pt.type as propertyTypeName		       
		from Config c
		left join ConfigWidget cw on c.id=cw.configId
		left join Widget w on w.id = cw.widgetId

		left join Property p on w.propertyId=p.id
		left join PropertyType pt on p.type_id = pt.id		
		order by cw.sortkey
		
	</select>
	
	<select id="findConfigByName" resultMap="JQConfig">
		select c.id as configId, c.name as configName,c.title as configTitle, c.valid as configValid,c. parentId as configParentId,
		       cw.id as cwid,cw.sortKey as sortKey,
		       w.id as wid, w.propertyId, w.widgetId as widgetId, w.configId as refConfigId, w.visiable, w.searchable,w.shareable,w.required, 
		       w.dataSource,w.name as widgeName, w.value as widgeValue,
		       p.id as propertyId, p.name as propertyName,
		       pt.id as propertyTypeId, pt.type as propertyTypeName
		from Config c
		left join ConfigWidget cw on c.id=cw.configId
		left join Widget w on w.id = cw.widgetId

		left join Property p on w.propertyId=p.id
		left join PropertyType pt on p.type_id = pt.id
		where c.name=#{name}
		order by cw.sortkey
	</select>
	
	<select id="findConfigById" resultMap="JQConfig">
		select c.id as configId, c.name as configName,c.title as configTitle, c.valid as configValid,c. parentId as configParentId,
		       cw.id as cwid,cw.sortKey as sortKey,
		       w.id as wid, w.propertyId, w.widgetId as widgetId, w.configId as refConfigId, w.visiable, w.searchable,w.shareable,w.required, 
		       w.dataSource,w.name as widgeName, w.value as widgeValue,
		       p.id as propertyId, p.name as propertyName,
		       pt.id as propertyTypeId, pt.type as propertyTypeName
		from Config c
		left join ConfigWidget cw on c.id=cw.configId
		left join Widget w on w.id = cw.widgetId

		left join Property p on w.propertyId=p.id
		left join PropertyType pt on p.type_id = pt.id
		where c.id=#{configId}
		order by cw.sortkey
	</select>

	<!--select id="findAllConfigs" resultMap="JQConfig">	
		select c.id as configId, c.name as configName,c.title as configTitle, c.valid as configValid,
		       cw.id as cwid,cw.sortKey as sortKey,
		       w.id as wid, w.propertyId, w.widgetId as widgetId, w.configId as refConfigId, w.visiable, w.searchable,w.shareable,w.required, 
		       w.dataSource,w.name as widgeName, w.value as widgeValue,
		       p.id as propertyId, p.name as propertyName,
		       pt.id as propertyTypeId, pt.type as propertyTypeName		       
		from Config c
		left join ConfigWidget cw on c.id=cw.configId
		left join Widget w on w.id = cw.widgetId
		left join WidgetProperty wp on w.id=wp.widgetId
		left join Property p on wp.propertyId=p.id
		left join PropertyType pt on p.type_id = pt.id		
		order by cw.sortkey
		
	</select>
	
	<select id="findConfigByName" resultMap="JQConfig">
		select c.id as configId, c.name as configName,c.title as configTitle, c.valid as configValid,
		       cw.id as cwid,cw.sortKey as sortKey,
		       w.id as wid, w.propertyId, w.widgetId as widgetId, w.configId as refConfigId, w.visiable, w.searchable,w.shareable,w.required, 
		       w.dataSource,w.name as widgeName, w.value as widgeValue,
		       p.id as propertyId, p.name as propertyName,
		       pt.id as propertyTypeId, pt.type as propertyTypeName
		from Config c
		left join ConfigWidget cw on c.id=cw.configId
		left join Widget w on w.id = cw.widgetId
		left join WidgetProperty wp on w.id=wp.widgetId
		left join Property p on wp.propertyId=p.id
		left join PropertyType pt on p.type_id = pt.id
		where c.name=#{name}
		order by cw.sortkey
	</select>
	
	<select id="findConfigById" resultMap="JQConfig">
		select c.id as configId, c.name as configName,c.title as configTitle, c.valid as configValid,
		       cw.id as cwid,cw.sortKey as sortKey,
		       w.id as wid, w.propertyId, w.widgetId as widgetId, w.configId as refConfigId, w.visiable, w.searchable,w.shareable,w.required, 
		       w.dataSource,w.name as widgeName, w.value as widgeValue,
		       p.id as propertyId, p.name as propertyName,
		       pt.id as propertyTypeId, pt.type as propertyTypeName
		from Config c
		left join ConfigWidget cw on c.id=cw.configId
		left join Widget w on w.id = cw.widgetId
		left join WidgetProperty wp on w.id=wp.widgetId
		left join Property p on wp.propertyId=p.id
		left join PropertyType pt on p.type_id = pt.id
		where c.id=#{configId}
		order by cw.sortkey
	</select-->

		
	<insert id="createConfig" parameterType="com.jq.entity.JQConfig" >
		<selectKey resultType="int" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()		
		</selectKey>	
		insert into Config(name,title,parentId,valid) 
		select #{name},#{title},#{parentId},1
		from dual 
		where not exists(select * from Config where name=#{name})
	</insert>

	<select id="findWidgetByConfigId" resultType="com.jq.entity.JQWidget">
		select w.* 
		from ConfigWidget cw, Widget w
		where cw.configId=#{configId} and w.id = cw.widgetId
	</select>	
	
	<insert id="createWidget" parameterType="com.jq.entity.JQWidget" >
		<selectKey resultType="int" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()		
		</selectKey>	
		insert into Widget(Name,PropertyId,WidgetId,ConfigId,DataSource,Required,Visiable,Searchable,Shareable,valid) 
		select #{name},#{propertyId},#{widgetId},#{configId},#{required},#{dataSource},#{visiable},#{searchable},#{shareable},1
		from dual 
		where not exists(select * from Widget where name=#{name})
	</insert>

	
	<insert id="assignWidget">
		insert into ConfigWidget(WidgetId,ConfigId,SortKey,Valid) 
		select #{widgetId},#{configId},#{sortKey},1
		from dual
		where not exists (select * from ConfigWidget 
				   where WidgetId=#{widgetId} and ConfigId=#{configId})
	</insert>
	
	<select id="findWidgetByName" resultType="com.jq.entity.JQWidget">
		select w.* 
		from Widget w
		where w.name=#{name}
	</select>


	<update id="deleteConfig">
		update Config set Valid = 0 where id=#{configId}
	</update>

	<!--update id="updateModule">
		update Module set name=#{module.name},urlid=#{urlId} where parentid=#{pid} and id=#{module.id}
	</update>
	
	<update id="deleteModule">
		update Module set Valid = 0 where parentid=#{pid} and id=#{module.id}
	</update>
	
	<resultMap id="JQModuleConfig" type="com.jq.entity.JQModuleConfig">
		
		<result property="configId" column="configId" />
		<result property="moduleId" column="moduleId" />
		
		
	</resultMap>	
	
	
	
	<select id="getModuleConfig" resultMap="JQModuleConfig">	
		select distinct moduleId,configId
		from ModuleConfig mc
		where mc.moduleid= #{mid} and mc.valid = 1
	</select-->
	

	
	<!--update id="deleteModuleConfig">	
		update ModuleConfig set valid=0 where ModuleId=#{mid} and ConfigId= #{config.configId}
	</update-->
	
	<!--resultMap id="JQColumn" type="com.jq.mapper.JQColumn">
		<id property="id" column="id"/>
		
		<result property="rowId" column="rowId" />
		<result property="propertyId" column="propertyId" />
		<result property="value" column="value" />
		<result property="name" column="name" />
		<result property="type" column="type" />	
	</resultMap-->
	
	
	
	<!--resultMap id="JQModuleData" type="com.jq.entity.JQModuleData">		
		<result property="parentId" column="parentId" />
		<collection property="columns" ofType="com.jq.entity.JQColumn">
			<id property="sortKey" column="sortKey"/>
			<association property="property" javaType="com.jq.entity.JQProperty">
				<id property="id" column="propertyID"/>
				<result property="name" column="propertyName" />
				<result property="value" column="propertyValue" />
				<association property="type" javaType="com.jq.entity.JQPropertyType">			
					<id property="id" column="propertyTypeID" />		
					<result property="type" column="propertyType" />
				</association>
			</association>
	        </collection>	
	</resultMap>
	
	<select id="getModuleData" resultMap="JQModuleData">
		select md.parentId as parentId, mc.sortKey as sortKey, mc.propertyid as propertyID, prop.name as propertyName, md.data as propertyValue, pt.type as propertyType, pt.id as propertyTypeID
		from ModuleData md,ModuleConfig mc,Property prop, PropertyType pt
		where mc.moduleid = #{mid} and mc.id = md.fieldId and mc.configId=#{configId} and prop.id=mc.propertyid and pt.id = prop.type_id
		order by md.parentId, mc.sortKey
	</select>
	
	<insert id="addModuleData">
		Insert into ModuleData(FieldID,ParentID,Data) 
		select mc.ID as fieldID,#{parentId},#{property.value}
		from ModuleConfig mc,Property prop
		where configID=#{configId} and moduleID=#{mid} and PropertyID=prop.id and prop.name=#{property.name}
		
	</insert>
	
	
	<update id="updateModuleData">
	
		update ModuleData set Data=#{property.value} 
		
		where RID=#{rowId} and ModuleID=#{mid} and PropertyID = #{property.id}
	
	</update>
	
	
	<delete id="deleteModuleData">
		delete from ModuleData
		where RID=#{rowId} and ModuleID=#{mid} and PropertyID = #{property.id}	
	</delete>
	
	<select id="getTotalQuantity" resultType="int">
		select count(distinct md.parentId)
		from ModuleConfig mc, ModuleData md
		where mc.id=md.fieldid and mc.moduleId=#{mid} and mc.configId=#{configId} 
	
	</select-->
	
	
	

	
	
	




</mapper>	



