<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	
	
<mapper namespace="com.jq.mapper.JQPropertyMapper">

	<resultMap id="JQProperty" type="com.jq.entity.JQProperty">
		<id property="id" column="propertyID"/>
		<result property="name" column="propertyName" />
		<result property="value" column="propertyValue"/>		
		<association property="propertyType" javaType="com.jq.entity.JQPropertyType">
			<id property="id" column="propertyTypeID"/>
			<result property="type" column="propertyType" />			
		</association>
	</resultMap>

	<select id="findAllProperties" resultMap="JQProperty">	
		select p.id as propertyID, p.name as propertyName, p.value as propertyValue, t.type as propertyType, t.id as propertyTypeID
		from Property p, PropertyType t 
		where p.valid=1 and p.type_id = t.id
	</select>
	
	<select id="findPropertyByName" resultMap="JQProperty">
	
		select p.id as propertyID, p.name as propertyName, p.value as propertyValue, t.type as propertyType, t.id as propertyTypeID 
		from Property p, PropertyType t 
		where Name=#{name} and p.type_id = t.id
	
	</select>

	<select id="findPropertyById" resultMap="JQProperty">
	
		select p.id as propertyID, p.name as propertyName, p.value as propertyValue, t.type as propertyType, t.id as propertyTypeID 
		from Property p, PropertyType t 
		where p.id=#{propertyId} and p.type_id = t.id
	
	</select>	
	
	
	<insert id = "createProperty" parameterType="com.jq.entity.JQProperty">	
		<selectKey resultType="int" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()		
		</selectKey>
		insert into Property(Name,Value,type_id,description,status,code,sortkey,Valid) 
		select #{name},#{value}, #{propertyType.id},#{description},#{status},#{code},#{sortKey},1 from dual 
		where not exists ( select * from Property where Name=#{name})
	</insert>		
	
	
	
	<!--select id="getPropertyByConfig" resultMap="JQProperty">	
		select prop.id as id ,prop.name as name , t.type as type, t.id as typeId
		from Property prop, ModuleConfig mc , PropertyType t 
		where prop.valid=1 and mc.valid=1 and mc.propertyId= prop.Id and mc.configId=#{configId} and mc.moduleId=#{moduleId} and t.id = prop.type_id
	</select-->
	
	<!--resultMap id="JQColumn" type="com.jq.entity.JQColumn">
		<id property="id" column="id"/>
		<result property="sortKey" column="sortKey"/>
		<association property="property" javaType="com.jq.entity.JQProperty">
			<id property="id" column="propertyID"/>
			<result property="name" column="propertyName" />
			<association property="propertyType" javaType="com.jq.entity.JQPropertyType">
				<id property="id" column="propertyTypeID"/>
				<result property="type" column="propertyType" />
			</association>	
		</association>	
	</resultMap-->	
	
	<resultMap id="columns" type="com.jq.entity.JQColumn">
			<id property="id" column="id"/>
			<result property="sortKey" column="sortKey"/>
			<association property="property" javaType="com.jq.entity.JQWidget">
				<id property="id" column="widgetId"/>
				<result property="name" column="widgetName" />
				<result property="value" column="widgetValue" />
				<result property="propertyId" column="ProperyID" />
				<result property="widgeId" column="refWidgetId" />

				<result property="configId" column="refConfigId" />
				<result property="dataSource" column="dataSource" />

				<result property="visible" column="visible" />
				<result property="searchable" column="searchable" />
				<result property="shareable" column="shareable" />
				<result property="required" column="required" />


			</association>
	</resultMap>	
	
	<!--select id="getColumnByConfig" resultMap="JQColumn">	
		select mc.sortKey as sortKey, prop.id as propertyID, prop.name as propertyName, t.type as propertyType, t.id as propertyTypeID
		from Property prop, ModuleConfig mc, PropertyType t 
		where prop.valid=1 and mc.valid=1 and mc.propertyId= prop.Id and mc.configId=#{configId} and mc.moduleId=#{moduleId} and t.id = prop.type_id
	</select-->

	<!--select id="findColumnByConfigId" resultMap="JQColumn">	
		select cp.id as id, cp.sortKey as sortKey, prop.id as propertyID, prop.name as propertyName, t.type as propertyType, t.id as propertyTypeID
		from Property prop, ConfigProperty cp, PropertyType t 
		where prop.valid=1 and cp.valid=1 and cp.propertyId= prop.Id and cp.configId=#{configId} and t.id = prop.type_id
	</select-->
	


	<update id = "updateProperty">
		update Property set Name=#{name}, type_id = #{propertyType.id}
		where id = #{id}
	</update>
	
	<update id = "deleteProperty">
		update Property set valid=0 
		where id=#{id}	
	</update>
	





	<resultMap id="JQPropertyOption" type="com.jq.entity.JQPropertyOption">
		<id property="id" column="id" />			
		<result property="value" column="value" />
		<result property="propertyId" column="propertyId" />
		<result property="parentId" column="parentId" />	
		
				
	</resultMap>
		
	<select id="findPropertyOptionByValue" resultMap="JQPropertyOption">
	
		select * 
		from PropertyOption 
		where value=#{value} and PropertyId=#{propertyId} and ParentId=#{parentId}
	
	</select>

	<select id="findProperyOptionsById" resultMap="JQPropertyOption">	
		select id, value,propertyId,parentId from PropertyOption where propertyId = #{propertyId} and valid=1
	</select>
	
	
	<select id="findPropertyOptionsByParentId" resultMap="JQPropertyOption">	
		select id, value,propertyId,parentId from PropertyOption where parentId = #{parentId} and valid=1
	</select>
	
		
	
	<insert id="assignPropertyOption">
		<selectKey resultType="int" keyProperty="option.id" order="AFTER">
			SELECT LAST_INSERT_ID()		
		</selectKey>			
		insert into PropertyOption(value,PropertyId,ParentId,Valid) 
		select #{option.value},#{propertyId},#{parentId},1
		from dual
		where not exists ( select * from PropertyOption where value=#{option.value} and PropertyId=#{propertyId} and ParentId=#{parentId})
	</insert>

	<update id="updatePropertyOption">
		update PropertyOption set value = #{option.value}
		where PID= #{pid} and id=#{option.id}		
	</update>
	

	<update id="deletePropertyOption">
		update PropertyOption set Valid =0
		where propertyId= #{propertyId} and id=#{optionId}	
	</update>

	<resultMap id="JQPropertyType" type="com.jq.entity.JQPropertyType">		
		<result property="type" column="type" />
		<result property="description" column="description" />	
		<result property="id" column="id" />	
				
	</resultMap>
	
	<select id="findPropertyTypeByType" resultMap="JQPropertyType">
	
		select * from PropertyType 
		where Type=#{type}
	
	</select>
		
	<select id="findAllProperyTypes" resultMap="JQPropertyType">	
		select id, type, description from PropertyType where valid=1
	</select>
	
	
	<insert id="createPropertyType">
		<selectKey resultType="int" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()		
		</selectKey>		
		insert into PropertyType(type,description,Valid) 
		select #{type},#{description},1
		from dual
		where not exists ( select * from PropertyType where Type=#{type})
	</insert>

	<update id="updatePropertyType">
		update PropertyType set type = #{type} and description = #{description}
		where id=#{id}		
	</update>
	
	<update id="deletePropertyType">
		update PropertyType set Valid =0
		where id=#{id}	
	</update>
	





</mapper>	



